body {
    padding-bottom: 0px;
    background-color: rgb(252, 245, 246); /*defined background colour*/
    color: black;
    font-family: "Rubik";
    display:flex; 
    flex-direction:column; 
  }
  
  
  .main-container{
    min-height: 100vh; /* will cover the 100% of viewport */
    display: block;
    position: relative;
    padding-bottom: 30px;  /* height of your footer */
  }

  .dark-mode{
    background-color:black;
    color: pink;
  }
  
  .navbar {
    margin-bottom: 0px;
    background-color: pink;
    color: white;
  }
  
  .page-footer{
    background-color: white;
    position: absolute;
    height: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  

  /* The sections */
  .section1{
    /*background-color: pink;*/
    height: 100vh;
    width: 100vw;
  }
  .section2{
    background-color: violet;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
  }
  .section3{
    display: flex;
    background-color: orange;
    height: 100vh;
    width: 100vw;
    align-items: center;
  }
  .section4{
    display: flex;
    background-color: pink;
    height: 100vh;
    width: 100vw;
    align-items: center;
  }

  .card-img-right{
    background-color: red;
    height: 30vh;
  }

  .card-img-top{
    background-color: aliceblue;
    object-fit: cover;
    background-position: center;
    overflow: hidden;
    height: 30vw;
  }

  .card-img{
    height: 30vh;
    
  }

  .square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}
  /*this defines a three column grid for article pages*/
  .wrapper {
    display: grid;
    grid-template-columns:  
    1fr 
    min(65ch, calc(100% - 64px)) 
    1fr; /*this is a width of 65 characters*/
    grid-column-gap: 3px;
  }

  .wrapper > * {      /*this places children in middle column*/
    grid-column: 2;
    background-color: white;
  }
  .full-bleed {         /*allows a specific child to go full bleed on page (take u all columns)*/
    width: 100%;
    grid-column: 1 / -1;
    background-color: salmon;
  }    


  .home-wrapper {
    display: grid;
    grid-template-columns:  
    1fr 
    min(100ch, calc(100% - 64px)) 
    1fr; /*this is a width of 65 characters*/
    grid-column-gap: 3px;
  }

  .home-wrapper > * {      /*this places children in middle column*/
    grid-column: 2;
    background-color: white;
  }


  .project-wrapper {
    display: grid;
    grid-template-columns:  
    1fr 
    min(120ch, calc(100% - 64px)) 
    1fr; /*this is a width of 65 characters*/
    grid-column-gap: 3px;
  }

  .project-wrapper > * {      /*this places children in middle column*/
    grid-column: 2;
    background-color: white;
  }

  /*
  .box{
    padding:10px;
    margin: 10px;
    background-color: red;
  }

  .box1{
    background-color: pink;
    height: 100vh;
    width: 100vw;
  }*/

  .dropdown-menu{
    background-color: white;
  }



  /*.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    top: 50px;
    background-color: green;
} */




/* Change text selection color */
  ::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
  }
  ::selection {
    color: red;
    background: yellow;
  }

  

  .hide {
    display: none;
  }
  
  .myDIV:hover + .hide {
    display: block;
  }



  .back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}


.btn-static {
  background-color: white;
  border: 1px solid lightgrey;
  cursor: default;
}
.btn-static:active {
  -moz-box-shadow:    inset 0 0 0px white;
  -webkit-box-shadow: inset 0 0 0px white;
  box-shadow:         inset 0 0 0px white;
}




.item1{
  background: white;
}

.img-container{
    font-size: 10px;
    min-height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 60px;
    grid-column-gap: 150px;
    grid-template-columns: repeat(auto-fill, 400px);
}

/*.img-responsive{
    width: 100% \9;
    max-width: 100%;
    min-width: 80%;
    height: auto;
    border-radius: 5px;
   
}*/

.img-card{
  position: relative;
  background-color: white;
  top: 0;
  left: 0;
  padding: 0px 0px 0px 0px;
  width: 300px;
  border: 1px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
  border: 1.5px solid rgb(22, 28, 82);
}

.project-img-container{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}

.project-img-container img{
  position:absolute;
}
