---
---
html {
  --blue: #1e90ff;
  --white: #ffffff;
  --pink:  rgb(250, 236, 236);

  --gold: #ffd200;
  --lime: #dcff7f;

  --highlight:#dcff7f;
  --back: #f8f8f8;

  --text0: #575bb1; /* #0b13c7 */
  --text: rgb(7, 17, 199); /* #0b13c7 */
  --text1: #070c7f;
  --text2: #161C82;
  

  --purp: #6D46FF;
  --hotpink: #EE0BDD;

  --fuscia0: #fff7ff;
  --fuscia1: #fee7fe;
  --fuscia2: #fcd4fc;
  --fuscia3: #fbbffb;
  --fuscia4: #fbbffb;
  --fuscia5: #f88af8;
  --fuscia6: #f662f6;
  --fuscia7: #f006f0;
  --fuscia8: #c002c0;
  --fuscia9: #740174;

  --blue0: #f9f9fe;
  --blue1: #f2f2fd;
  --blue2: #dedff7;
  --blue3: #cfd0f4;
  --blue4: #bec0f0;
  --blue5: #abaeec;
  --blue6: #9599e7;
  --blue7: #7b80e1;
  --blue8: #585ed9;
  --blue9: #1019c8;

  --bluegrey: #f4f4fc;

  --indigo9: #402a98;
  --neon: #2e2e2e;
  
  --section1: #f4f4fc;
  --hr: rgb(218, 218, 218);
  --link:rgb(255, 93, 87);
  --link-shadow:rgba(255, 234, 49, 0.4);
  
  --subtext: rgba(46, 46, 46);
  --subtext-light:  rgba(46, 46, 46, 0.4);
  --link-hover: #ffffff;

  /*restart variable. you need to declare them here to prevent load flash */
  --site-background: #f8f8fa;
  --main-text: #2e2e2e;
  --shadow: #f8f8fa;
 

}
/*
.dark-mode{
  background-color:rgb(22, 24, 58);
  color: white;
  --subtext: #ffffff;
  --section1: #050d33;
  --hr: rgb(255, 255, 255);
  --neon: #ffffff;
  --link: #d3eaff;
  --link-hover: #242424;
  --back: rgb(17, 19, 43);
  --shadow: 0 0 5px #FFF,
            0 0 10px #FFF, 
            0 0 15px #fb8fff, 
            0 0 20px #fb8fff, 
            0 0 30px #fb8fff, 
            0 0 40px #fb8fff; 
              
}*/


html, html[data-theme="light"] { 
  --site-background: #f8f8fa;
  --accent0: hsl(255, 53%, 98%);
  --accent1: hsl(255, 53%, 96%);
  --accent2: hsl(255, 53%, 89%);
  --accent3: hsl(255, 53%, 80%);
  --inner: #f8f8fa;
  --em: hsl(253, 100%, 90%);
  --main-text: #2e2e2e;
  --main-text-opposite: #F8F8FA;
  --main-text-muted: hsla(0, 0%, 35%);
  --main-text-secondary: hsl(237, 50%, 56%);
  
  
  --link: hsl(244, 100%, 60%);  
  --link-alt: #fb8fff;
  --focus: hsl(244, 100%, 60%);
 
  --active-box-shadow:2px 2px 0 #8279ff, 2px -2px 0 #8279ff, -2px 2px 0 #8279ff, -2px -2px 0 #8279ff, 2px 0px 0 #8279ff, 0px 2px 0 #8279ff, -2px 0px 0 #8279ff, 0px -2px 0 #8279ff;

  --tag-border:hsla(255, 53%, 60%, 0.25) ;
  --card-border:hsla(255, 20%, 60%, 0.4) ;
  --dash-border:hsla(255, 20%, 60%, 0.2) ;
  --dashboard-border: hsla(255, 53%, 60%, 0.1);
  --dashboard-inner-border: hsla(255, 53%, 60%, 0.1);



  --neon-shadow: #ffffff;
  --card-shadow: hsla(255, 53%, 60%, 0.25);


  --chart-arrow: hsl(281, 100%, 81%); /*hsla(281, 100%, 81%)*/
  --chart-arrow-head: #a365c0;

  --chart-divider: rgb(206, 206, 206);
  --chart-subdivider: rgb(223, 223, 223);
  --chart-today: rgb(165, 70, 255);

  --art-category: hsl(271, 100%, 80%);
  --design-category: hsl(212, 100%, 75%);
  --visualisation-category: hsl(39, 100%, 68%);
  --programming-category: hsl(300, 100%, 80%);
 
  --active-bar-fill: hsl(260, 100%, 92%);


  --home-button-drop: 0px 2px 10px -5px #050d33;

  color: #2e2e2e;


  --width: 300px;
}

html[data-theme="dark"] {
  --site-background: #100427;
  --accent0: hsl(259, 60%, 8%);
  --accent1: hsl(259, 60%, 17%);/*#16183a was used for a time */
  --accent2: hsl(259, 50%, 28%);
  --inner: hsl(258, 50%, 20%);
  --em: hsl(253, 100%, 80%);
  --main-text: #F8F8FA;
  --main-text-opposite: #2e2e2e;
  --main-text-secondary: hsl(240, 17%, 98%);

  --main-text-muted: rgb(201, 195, 213);

  

  --link: #fb8fff;
  --link-alt: #5F33FF;
  --focus: hsl(244, 100%, 70%);

  --active-box-shadow:2px 2px 0 #fdbdff, 2px -2px 0 #fdbdff, -2px 2px 0 #fdbdff, -2px -2px 0 #fdbdff, 2px 0px 0 #fdbdff, 0px 2px 0 #fdbdff, -2px 0px 0 #fdbdff, 0px -2px 0 #fdbdff;

  --tag-border: hsla(259, 50%, 30%, 0.9);
  --card-border: hsla(259, 50%, 30%, 0.9);
  --dash-border: hsl(259, 35%, 26%);
  

  --neon-shadow: 0 0 5px #FFF, 0 0 10px #fb8fff, 0 0 30px #fb8fff;
  --card-shadow: hsla(259, 50%, 30%, 0.9);

  --chart-arrow: hsl(259, 50%, 60%);
  --chart-arrow-head: hsla(259, 50%, 80%, 0.9);

  --chart-divider: hsl(251, 54%, 40%);
  --chart-subdivider: hsl(251, 54%, 30%);

  --active-bar-fill: hsl(260, 100%, 92%);

  --home-button-drop: 0px 2px 10px -5px #ffffff;

  color: #F8F8FA;
	}

/* to fill in once I finalise the upper dark mode variables*/
/*
@media (prefers-color-scheme: dark) {
  html, html[data-theme="dark"] {
    --site-background: #16183a;
    --text-colour: black;
  }
  
  html[data-theme="light"] { 
    --site-background: #f8f8fas;
    --text-colour: purple;
  }
}*/



body {
    padding-bottom: 0px;
    background-color: var(--site-background); 
    color: var(--text-colour);
    font-family: Roboto, sans-serif;
    display:flex; 
    flex-direction:column;

    /*background-color: #f8f8fa;*/
  }

  /*---------------------------------*/

      /* THE TEXT CLASS SECTION */

  /*---------------------------------*/
  h1{
    color: var(--text);
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: bold;
    
  }
  
  .label{
    color: var(--text);
    font-size: small;
    letter-spacing: 2px;
    border: 1px;
  }
  
  
  .title{ /*h2*/
    text-align: center;
    color: var(--main-text);
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px;
    text-transform: capitalize;
    line-height: 1.1em;
  }


  .blog-title{
    text-align: center;
    color: var(--main-text);
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
  
  }

  @media only screen and (max-width: 950px) {
    .blog-title {
      font-size: 2.5em;
    }
  }

  .blog-title-sub{
    align-self: center;
    font-size: .9em;
  }

  .blog-title-tags{
    color: hsl(180, 100%, 50%);
    align-self: end;

  }


  .blog-paragraph{
    font-size: 1.1em;
    line-height: 1.6;
    font-weight: 400;
  }

  .project-paragraph{
    font-size: 1.1em;
    line-height: 1.6;
    font-weight: 400;
  }

  .project-subheading{
    text-transform: capitalize;
    font-size: 1.5em;
    line-height: 1.1em;
    font-weight: 600;
  
  }


  .caption{
    font-size: 0.8em;
    line-height: 1.5;
    font-weight: 400;
    margin: 1em;
    font-style: italic;
  }

/*
  .titleunderline {
    text-decoration: none; 
    position: relative; 
    transition: all 0.4s ease 0s;
    padding: 10px;
    width: 100%;
  }   

  
.titleunderline:before{
  content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    width: 200px;
    height: 1.5px;
    background: var(--text);
    transform: translateX(-50%);
}*/
/*
 .titleunderline:after {
     position: absolute;
     content: '';
     height: 2px;
     bottom: 5px; 
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 30%;
      background:var(--text);
 }
*/
 .titleunderline:before:hover {
  width: 90%;
  left: 5%;
  transition: all 0.5s ease 0s;
  
}



  .sub-para{
    color: var(--main-text);
    font-size: .95em;
    text-align: left;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: .01em;
    text-align: center;
  }


  .h2:hover{
   
    text-shadow: 0 0 10px rgba(223, 122, 223,0.5);
   /* transform: translateY(-0.05em);*/
    -webkit-text-shadow: 0px 0px 10px -5 rgba(	223, 122, 223,0.5);  
   
  }

  
  .main-container{
    min-height: 100vh; /* will cover the 100% of viewport */
    display: block;
    position: relative;
    padding-bottom: 30px;  /* height of your footer */
  }

  
  

  .navbar {
    color: var(--main-text);
    z-index: 1;
  }

  

  .nav-link{
    font-size: 15px;
    letter-spacing: 0.05em;
    color: var(--main-text);
  }

  
  

  .navbar-nav{
    color: var(--main-text);
  }

  .nav-link:hover{
    color: var(--main-text);
  }

  .navbar-nav > li{
    margin-left:.3em;
    margin-right:.3em;
  }

  .navbar-brand{
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.1em;
    color: var(--main-text);
    font-weight: 400;
    /*margin-right: 100px;*/
  }
  .navbar-brand:hover{
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.1em;
    color: var(--link);
    font-weight: 400;
    /*margin-right: 100px;*/
  }

  
  /*
  .navbar .navbar-header,
  .navbar-collapse {
      float:none;
      display:inline-block;
      vertical-align: top;
  }*/

    
  .navbar-toggler{
    align-items: right;
    float: right;
  }

  .mode-toggle{
    color: hsl(39, 95%, 57%);
  }
  
  
  .nav-a a{
    position: relative;
  }
  
  .nav-a a:after{
    position: relative;
    display: block;
    height: 1px;
    bottom: 0px;
    background: var(--link-alt); /*rgba(201, 50, 50)*/
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
  }
  
  .nav-a a:hover:after,
  .nav-a a:focus:after {
    width: 100%;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }

  .actives a:after{
    position: relative;
    display: block;
    height: 1px;
    bottom: 0px;
    background: var(--link);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0s, -webkit-transform 0s;
    -moz-transition: opacity 0s, -moz-transform 0s;
    transition: opacity 0s, transform 0s;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }




  .page-footer{
    
    position: absolute;
    height: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #particles-js-side {
    margin: auto;
    width: 97vw;
    height: 90vh;
}
/*
#particles-js {
  width: 100vw;
  height: 100vh;
  position: absolute;
}*/


.landing{
  text-align: left;
  align-items: center;
  position: absolute;
  top: 50%;
	right: 50%;
  transform: translate(50%,-50%);
  line-height: 1.2em;
}

.landingtitle{
  font-size: 5vw;
  font-weight: 900;
  line-height: 1.1em;
  text-shadow: var(--neon-shadow); 
  color: var(--main-text);
  transition: all 0.9s ease 0s;
  white-space: nowrap;
}

.landingsubtext{
  line-height: 1.7em;
  color: var(--main-text);
  
}

.landingcaption{
  line-height: 1.5em;
}

/*
.landingtitle:hover{
  text-shadow: 0 0 10px rgba(0, 0, 225, 0.5);
  -webkit-text-shadow: 0px 0px 10px -5 rgba(0, 0, 225,0.5);  ;
}*/

  /* The sections */
  .section1{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    bottom: 30px;
  }
  .section2{
    background-color: violet;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
  }
  .section3{
    display: flex;
    background-color: rgb(255, 225, 253);
    height: 100vh;
    width: 100vw;
    align-items: center;
  }
  .section4{
    display: flex;
    background-color: pink;
    height: 100vh;
    width: 100vw;
    align-items: center;
  }

  .section5{
   
    height: 100vh;
    width: 100vw;
    background-color: red;
  }


  /* ----- BLOG STUFF -----*/

  /*normal blog post stuff*/
  .blog-header{
    margin: 0 auto;
    background-color: wheat;
    height: 30vw;
    width: 100%;  
    padding: 10%;
  }

  @media only screen and (max-width: 950px) {
    .blog-header {
      background-color: lightblue;
    }
  }

  .tag-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
   
  }
  
  .process-header{
    margin: 0 auto;
    background-color: rgb(255, 212, 131);
    
    width: 100%;  
   
  }

  hr.styled{
    border-top: 1px transparent solid;
    border-color: var(--accent2);
  }



  /*blog posts cards*/

  .blogcard{
    background: var(--back);
    border: 1px transparent solid;
    border-color: var(--card-border);
   
  }





  .blog-card{
    background: white;
    height: 300px;
    right: 15px;
    width: 103.5%;
  }

  .blog-card:hover{
    transition: all 0.4s ease 0s;
    /*transform: translateY(-0.1em);*/
    -webkit-box-shadow: 0px 2px 10px -5px #A39EFF; 
    box-shadow: 0px 2px 10px -5px #A39EFF;
  }

  .blog-card-img{
    height: 298px;
    width: 400px;
    object-fit: cover;
  }

  .tag-badge{
    letter-spacing: 1.5px;
    text-transform: uppercase;
    /*background-color:var(--bluegrey);
    color: var(--blue7);*/
    background-color: var(--accent0);
    color: var(--main-text-secondary);
    font-weight: 500;
    border: 0.1em solid ;
    border-color: var(--tag-border);
    padding: 6px 10px;
    margin-right: 5px;
    box-shadow: 5px;
    /*transition: all 0.6s ease 0s;*/
    
  }

  .tag-badge:hover {
    /*color: var(--text);*/
    color: var(--main-text-secondary);
  
    background-color: var(--accent2);
    box-shadow: 1px;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
   /* transform: translateY(-0.05em);*/
    /*-webkit-box-shadow: 0px 2px 10px -5px #A39EFF; 
    box-shadow: 0px 2px 10px -5px #A39EFF;
    transition-timing-function: ease-in-out;*/
    }

  .badge{
    transition: all 0.0s ease 0s;
  }

  /*
  .tag-badge:focus {
    background-color: var(--focus) !important;
    color: #fff;
    }*/

  .tag-badge-small{
    font-size: 9px;
  }

  .tag-badge-active{
    background-color: var(--main-text);
  }


  .tag-header{
    margin: 5px;
  }
  
  .card-img-right{
    background-color: red;
    height: 30vh;
  }

  .card-img-top{
   
    object-fit: cover;
    background-position: center;
    overflow: hidden;
    height: 30vw;
    position: relative;
  
  }

  .card-img-top:hover{
    object-fit: cover;
    background-position: center;
    overflow: hidden;
    height: 30vw;
    position: relative;
    
  }

  .card-text{
    position: absolute;
    z-index: 999;
    
  }

  .card-img{
    height: 30vh;
    
  }

  

  .square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}

/*---------------------------------*/

      /* THE WRAPPER SECTION */

/*---------------------------------*/


  /*this defines a three column grid for article pages*/
  .wrapper {
    display: grid;
    grid-template-columns:  
    1fr 
    min(75ch, calc(100% - 75px)) 
    1fr; /*this is a width of 65 characters*/
    grid-column-gap: 3px;
    
  }

  .wrapper > * {      /*this places children in middle column*/
    grid-column: 2;
  }
  .full-bleed {         /*allows a specific child to go full bleed on page (take u all columns)*/
    width: 100%;
    grid-column: 1 / -1;
    background-color: salmon;
  }    


  .home-wrapper {
    display: grid;
    grid-template-columns:  
    1fr 
    min(100ch, calc(100% - 100px)) 
    1fr; /*this is a width of 65 characters*/
    grid-column-gap: 3px;
  }

  .home-wrapper > * {      /*this places children in middle column*/
    grid-column: 2;
    
  }


  .project-wrapper {
    display: grid;
    grid-template-columns:  
    1fr 
    min(90ch, calc(100% - 64px)) 
    1fr; /*this is a width of 65 characters*/
    grid-column-gap: 3px;
  }

  .project-wrapper > * {      /*this places children in middle column*/
    grid-column: 2;
    
  }


  
  .blog-wrapper {
    display: grid;
    grid-template-columns:  
    1fr 
    min(75ch, calc(100% - 75px)) 
    1fr; 
    grid-column-gap: 3px;
    background-color: #d9dfff;
    
  }

  .blog-wrapper > * {      /*this places children in middle column*/
    grid-column: 2;
  }

  .blog-full-bleed {         /*allows a specific child to go full bleed on page (take u all columns)*/
    display: grid;
    width: 100%;
    grid-column: 1 / -1;
    background-color: rgb(255, 233, 217);
    text-align: center;
    align-items: center;
    padding: 5%;
    margin-bottom: 2%;
    min-height: 15em;
    justify-content: center;
    justify-content: space-evenly; 
    
  }    

  .process-full-bleed {         /*allows a specific child to go full bleed on page (take u all columns)*/
    display: grid;
    width: 100%;
    grid-column: 1 / -1;
    background-color: var(--accent1);
    text-align: center;
    align-items: center;
    padding: 2%;
    min-height: 16em;
    margin-bottom: 2em;
    justify-content: center;
    justify-content: space-evenly; 
    
  }  

  .dashboard-wrapper {
    display: grid;
    grid-template-columns:  
    1fr 
    min(80vw)
    1fr; 
    grid-column-gap: 3px;
    padding-top: 10px;
    
  }

  .dashboard-wrapper > * {      /*this places children in middle column*/
    grid-column: 2;
   
  }






  /*
  .box{
    padding:10px;
    margin: 10px;
    background-color: red;
  }

  .box1{
    background-color: pink;
    height: 100vh;
    width: 100vw;
  }*/

  .checked {
    color: orange;
  }
  .unchecked{
    color: var(--main-text);
  }
/*
  .dropdown-menu{
    background-color: white;
    
  }

  .dropdown-menu::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.2);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 86px;
    position: absolute;
    top: -8px;
}
  .dropdown-menu::after {
    border-bottom: 8px solid white;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 86px;
    position: absolute;
    top: -7px;
  }


  /*.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;jek
    top: 50px;
    background-color: green;
} */




/* Change text selection color */
  ::-moz-selection { /* Code for Firefox */
    color: white;
    background: var(--link);
  }
  ::selection {
    color: white;
    background: var(--link);
  }

  

  .hide {
    display: none;
  }
  
  .myDIV:hover + .hide {
    display: block;
  }



  .back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    border: 1px solid rgb(233, 233, 233);
    color: var(--main-text);
    background-color: var(--site-background);
}

.to-cc{
  z-index: 999999;
}

.from-cc{
  z-index: 999999;
}

.to-painting{
  z-index: 99999;
}

.btn-static {
  background-color: white;
  border: 1px solid lightgrey;
  cursor: default;
}
.btn-static:active {
  -moz-box-shadow:    inset 0 0 0px white;
  -webkit-box-shadow: inset 0 0 0px white;
  box-shadow:         inset 0 0 0px white;
}


.center-img{

  width: 500px;

 
}


.item1{
  background: white;
}

.img-container{
    font-size: 10px;
    min-height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 60px;
    grid-column-gap: 150px;
    grid-template-columns: repeat(auto-fill, 400px);
}

/*.img-responsive{
    width: 100% \9;
    max-width: 100%;
    min-width: 80%;
    height: auto;
    border-radius: 5px;
   
}*/

.img-card{
  position: relative;
  background-color: white;
  top: 0;
  left: 0;
  padding: 0px 0px 0px 0px;
  width: 300px;
  border: 1px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
  border: 1.5px solid rgb(22, 28, 82);
}

.project-img-container{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}

.project-img-container img{
  position:absolute;
}



/*blog page nag*/
.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  
  
  transition: all 0.5s;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
  background-color: var(--accent1);
  color: var(--main-text);
  padding: 10px;
  text-align: center;
  transition: all 0.5s;
  border-radius: 10px;
}

.PageNavigation .next {
  text-align: center;
  float: right;
  transition: all 0.5s;
  border-radius: 10px;
}

.PageNavigation .next:hover {
  -webkit-transform: translateX(.8em);
  -moz-transform: translateX(.8em);
  transform: translateX(.8em);
}

.PageNavigation a:hover {
  text-decoration: none;
  -webkit-transform: translateX(-.8em);
  -moz-transform: translateX(-.8em);
  transform: translateX(-.8em);

}


.nav-pills .nav-link{
  border: 1px solid var(--subtext-light);
  width: 125px;
  height: auto;
  text-align: center;
  transition: all 0.5s ease 0s;
}

.nav-pills .nav-item{
  color: orange;
}

.nav-pills{
  transition: all 0.5s ease 0s;
  padding: 2px;
  
}

.nav-pills .nav-link.active{
  background-color:rgb(102, 7, 255, 0.1);
  color:var(--main-text);
}

/*
.nav-pills .nav-link.active:hover{
  background-color:rgb(102, 7, 255, 0.6);
  color: pink;
}*/

.nav-pills .nav-link:hover{
  -webkit-box-shadow: 0px 2px 10px -5px #2b23b9; 
  box-shadow: 0px 2px 10px -5px #2b23b9;
}



/*resources*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  background-color: saddlebrown;
}
.tools { grid-area: 1 / 1 / 2 / 4; }
.inspo { grid-area: 2 / 1 / 3 / 4; }
.extensions { grid-area: 1 / 1 / 2 / 2; }
.List2 { grid-area: 1 / 2 / 2 / 3; }
.List3 { grid-area: 1 / 3 / 2 / 4; }
.List4 { grid-area: 2 / 1 / 3 / 2; }
.List5 { grid-area: 2 / 2 / 3 / 3; }
.List6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . .";
  grid-area: 2 / 3 / 3 / 4;
}

hr{
  border-top: 1px solid var(--hr);

}


.heading{
  position: relative;
  font-weight: 400;
}

.subheading{
  text-transform: capitalize;
  font-size: 1em;
  line-height: 1.2em;
  padding:0px;
  font-weight: 400;
  margin-bottom: 0px;
}

.link{
  list-style: none !important;
  padding-left: 0;
  /*color: rgb(240, 98, 98) !important;*/
  text-decoration: none;
  color: var(--link) !important;
}

.sublink{
  list-style: none !important;
  padding-left: 6px;
  color: rgb(185, 68, 68) !important;
  text-decoration: none;
}

ul.sublink:before {
  content: "+";
  display: block;
  position: absolute;
  left: 18px;
  width: 1.2em;
}
/*⤳*/


.para-link{
  text-decoration:none;
  box-shadow:inset 0 -7px 0 var(--link-shadow), 0 0px 0 var(--link-shadow);
  transition: box-shadow 0.30s;
  color: inherit;
  overflow:hidden;

  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.para-link:hover{
  text-decoration: none;
  color: var(--subtext);
  box-shadow:inset 0 -20px 0 var(--link-shadow), 0 2px 0 var(--link-shadow);
}


.post-paragraph{
  line-height: 1.5em;
}

.paragraph{
  font-size: .8em;
  line-height: 1.5em;
  
  font-weight: 400;
  
  color: var(--main-text)
}

.para-emphasis{

  font-weight: 600;
}

.tooltip {
  font-size: .7em;
  line-height: auto;
  
} 

.tooltip.show {
  opacity: 1 !important;
} 
.tooltip-inner {
  background-color: #6e6e6e;
  opacity: 2 !important;
 
  }

.tooltip.bs-tooltip-right .arrow:before {
      border-right-color: #6e6e6e !important;
      opacity: 1 !important;
      border-bottom: 5px transparent solid;
      border-left: 8px  transparent solid;
      border-right: 8px  #6e6e6e solid;
      border-top: 5px  transparent solid;
}
  .tooltip.bs-tooltip-left .arrow:before {
      border-left-color: #6e6e6e !important;
      opacity: 1 !important;
      border-bottom: 5px transparent solid;
      border-left: 8px  transparent solid;
      border-right: 8px  transparent solid;
      border-top: 5px  transparent solid;
      
  }
  
  .tooltip.bs-tooltip-bottom .arrow:before {
      border-bottom-color: #6e6e6e !important;
      border-bottom: 8px solid;
      border-left: 4px  transparent solid;
      border-right: 4px  transparent solid;
      border-top: 1px  transparent solid;
      
      opacity: 1 !important;
  }

  .tooltip.bs-tooltip-top .arrow:before {
      border-top-color: #6e6e6e !important;
      opacity: 1 !important;
  }



  .tooltip.blah{
    background-color: lightblue;
  }
  
  /* new tool tips for chart */

  .tooltips {
    position: relative;
    display: inline-block;
    z-index: 9999;
  }
  
  .tooltips .tooltipstext {
    visibility: hidden;
    width: 120px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    color: rgb(128, 66, 66);
    text-align: center;
    border-radius: 6px;
    border: 1px grey solid;
    padding: 5px 0;
    position: absolute;
   
    top: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
   
  }

  
  .tooltips .tooltipstext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  
  }
  
  .tooltips:hover .tooltipstext {
    visibility: visible;
    opacity: 1;
   
  }


  .tooltips-bottom .tooltipstext {
    visibility: hidden;
    width: 120px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(128, 66, 66);
    text-align: center;
    border-radius: 6px;
    border: 1px grey solid;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 9999;
  }

  .tooltips-bottom .tooltipstext:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #555 transparent ;
    z-index: 9999;
  }
  
  .tooltips-bottom:hover .tooltipstext {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
  }

  

  #creative-coding{
    color: var(--main-text);
  }


/*---------------------------------*/
/*---------------------------------*/

      /* THE CHART ID SECTION */

/*---------------------------------*/
/*---------------------------------*/


  .text-info {
    height: 50px;
    width: 200px;
    font-size: .8em;
    justify-content: center;
    text-align: left;
    color: var(--main-text) !important;
    }

    .text-info-subheading{
      
      font-size: 12px;
      justify-content: center;
      text-align: left;
      font-weight: 500;
      color: var(--main-text-muted);
     
      }

    .text-info-font{
      height: 50px;
      width: 200px;
      font-size: 13px;
      justify-content: center;
      text-align: left;
      font-weight: 600;
      
      }
      .task-title{
        font-size: 1.1em;
        font-weight: 500;
       

      }
.filter-title{
  font-size: .8em;
  font-weight: 400;
  letter-spacing: .05em;
}
      .dashboard-title{
        font-size: 1.1em;
        justify-content: center;
        text-align: left;
        font-weight: 500;
        letter-spacing: .05em;
       
        
      }
      

     

      .task-inspo{
        height: 50px;
        width: 200px;
        font-size: 13px;
        justify-content: center;
        text-align: left;
     
      }

      .task-skills, .task-rate, .task-status, .task-category, .task-description, .task-inspired-by, .task-inspired-to{
        font-size: 12px;
        justify-content: center;
        text-align: left;
        color: var(--main-text);
        
      }
           
.task-links{
  font-size: 12px;
  justify-content: center;
  text-decoration: none;

}



.task-links-color{
  color: var(--link) !important;
}

.active-line{
  border-color: red !important;

}



.stats-row{
  display: flex;
  justify-self: start;

}

.stats-row > div{
  padding-right: 40px;
}


.active-time-bar{
  background-color: red !important;
  border-color: red !important;
}

.activated-arrow:active{
  border-color: green;
}



.arrow-on{
  opacity: 0.6 !important;
  border-color: orange !important;
}

.active-bar{
  background-color: var(--active-bar-fill) !important;
  border-color: #5F33FF !important;
  
  z-index: 99999;

box-shadow: var(--active-box-shadow);
}



.vce-studio, .painting, .digital-still, .graphic, .vcd, .fodr, .dig-des, .delta, .aavs, .epsilon, .aat, .internship, .blender, .dig-tech, .python, .algo, .creative-c, .eportfolio{
  cursor: pointer !important;
}



/* FILTERS */
.coursework-button, .complete-button, .not-coursework-button, .current-button, .blog-button, .key-button{
  border: 1px silver solid;
  font-size: .7em;
  height: 20px;
  padding: 2px;
  color: var(--main-text);
}



.coursework-highlight{
  border: .2 !important;
  
}


.filter-button-highlight{
  background-color: hsl(266, 30%, 53%) !important;
  color: var(--main-text-opposite);
  
}


.complete-highlight{
  border-color: purple !important;
  box-shadow: 0px 0px 0px 2px #000000 !important;
}


/*.coursework-fade > .arrow-line, .coursework-fade > .arrow-con, .coursework-fade > .arrow-con-reflected, .coursework-fade > .arrow-con-reflected-up, .coursework-fade > .arrow-loop, .arrow-con-flipped {
  opacity: .2;

}*/
.coursework-fade{
  opacity: 0.2 !important;
 
}

.blog-fade{
  opacity: 0.2 !important;
 
}

.key-fade{
  opacity: 0.2 !important;
 
}



/*---------------------------------*/
/*---------------------------------*/


  .carousel2 .carousel-item img {
      position: absolute;
      object-fit:contain;
      top: 0;
      left: 0;
      max-height: 500px;
      
  }

  .carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

#carouselExampleControls{
  width: 100%;
  height: 90%;
  object-fit: cover;
}

#carouselExampleControls .carousel-item img{
  
  height: 90%;
  width: 20px;
}


.img-container-1{
  max-width: 450px;
  height: 290px;
  object-fit: cover;
 
}

.small-text{
  font-size: 0.7em;
}

.card{
  background: none;
}

.card-body{
  padding: 10px 20px 15px 20px;
  margin-bottom: -8px;
}

.card-heading{
  font-size: 1.6em;
  color: var(--main-text);
}

.card-heading:hover{
  color: var(--focus);
  text-decoration: none;
}

.card-date{
  color: var(--main-text);
}

#end-button{
  border: 1px solid var(--main-text);
  color: var(--main-text);
  font-size: .7em;
}

#end-button:hover{
  background-color: var(--accent0);
  -webkit-box-shadow: var(--home-button-drop); 
    box-shadow: var(--home-button-drop); 
    transition: all 0.5s ease 0s;
}

/*
#theme-toggle{
  color: red;

}*/
/* width */

::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--accent1); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



/*---------------------------------*/

      /* THE CHARTS GANNT */ 

/*---------------------------------*/
.dashboard-item{

  border-radius: .5em;
  margin: 0px 10px 10px 10px;
  position: relative;
  border: 0em solid ;
  border-color: var(--dashboard-border);
}

.dashboard-header{
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
  color: var(--main-text);
  letter-spacing: 1px;
  text-transform: capitalize;
}

.dashboard-item-wrapper{

  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: .5em;
  height: auto;
  position: relative;
  
  
}


.dashboard-item-wrapper1{
  
  padding: 10px;
  
  height: auto;
  position: relative;
  margin: 0px 0px 0px 0px;
}

.dashboard-item-wrapper2{
 
  padding: 0px;
  
  height: auto;
  position: relative;
  display: flex;
  flex: 0 0 auto;

}

.contain{
  width:100%;
  display:flex;
  padding: 0px 10px 0px 10px;
  border-radius: 0.5em;
  border: 0em solid ;
  border-color: var(--dashboard-border);
}
.cell1 {
  background:hsl(0, 0%, 100%);
  overflow: none;
  min-width: 5.3em;
  width: 220px;
  height:255px;
  box-shadow: 7px 0px 5px -3px rgba(0,0,0,0.1);
  z-index: 9999;
  
}

.cell2 {
  background:blue;
  overflow: auto;
  
}
.main-dashboard {
  background-color: var(--inner);
  position: relative;
  border-radius: 0.5em;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
  border: 1px solid;
  border-color: var(--dash-border);
}


.idk{
  background-color: var(--site-background);
  position: relative;
  
}



#timetable {

  overflow-y: auto;
  border: 1px solid #ccc;
  direction: rtl;
  background-color: var(--site-background);
}
#timetable ul {
  padding: 0;
  list-style: none;
  margin: 0 0 0 0;
}
#timetable .timetable_content {
  width: calc(var(--width)*7);/*this controls width of inner timetable*/
}

.half-year {
  min-height: 40px;
  overflow: auto;
 
}
.half-year li {
  width: calc(100%/14);
  text-align: center;
  float: left;
  display: inline-block;
  position: relative;
  border-left: 0px solid rgb(51, 53, 165);
  padding: 1em;
  
}

.years {
  min-height: 20px;
  overflow: auto;
  font-size: 0.7em;
}
.years li {
  width: var(--width);
  text-align: center;
  float: left;
  border-left: 0px solid rgb(51, 53, 165);
  border-bottom: 1px solid var(--card-border);
  padding: 0.5em;
  background-color: var(--accent1);
  color: var(--main-text);
}
.timeslots li {
  border-top: 1px solid var(--card-border);
  
  width: 100%;
  background-color: var(--site-background);
}
.timeslots .time-bar {
  padding: 0.1em;
  display: inline-block;
}
.time-bar{
  border: 1px  solid;
  border-color:  hsla(259, 50%, 30%, 0.2);
  position: relative;
  z-index: 4;
  font-size: 12px;
  border-radius: 1em;
  text-align: center;
 color: #2e2e2e !important;
  background-color: var(--site-background);
  margin: 1.3em 1em 1.3em 1em;
}

.time-bar:hover{
  color: var(--main-text);
}


.timeslots .time-bar-future {
  padding: 0.1em;
  display: inline-block;
  background-color: rgb(223, 223, 223) !important;
}
.time-bar-future{
  border: 1px hsla(259, 50%, 30%, 0.2) solid;

  position: relative;
  z-index: 4;
  font-size: 12px;
  border-radius: 2em;
  text-align: center;
  
  margin: 1.3em 1em 1.3em 1em;
  opacity: 0.7;
}

.timeslots .line-bar{
  position: relative;
  z-index: 1;
  display: inline-block;
}



.categories{
  border-bottom: 1px solid rgb(204, 204, 204);
  background-color: var(--site-background);
  align-items: center;
  height: 54px;
  justify-content: center;
  padding: .8em;
  color: var(--main-text);
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  justify-content: center;
  padding-top: 1.5em;
  
}

.year-corner{
  height: 29px;
  font-size: 12px;
  justify-content: center;
  text-align: center;
  color: var(--main-text);
  border-left: 1px solid rgb(204, 204, 204);
  border-top: 1px solid rgb(204, 204, 204);
  background-color: var(--site-background);
}

.categories-text{
  font-size: .9em;
  text-align: center;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}




/*
.timeslots .time-bar:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  border-style: solid;
  border-width: 7px 0 7px 20px;
  border-color: transparent transparent transparent rgb(0, 68, 255);
  right: -50px;
  transform: translateY(-50%);
}*/


/* s othis acctually woorks
.timeslots .time-bar:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 1px;
  top: 50%;
  border-style: solid;
  border-color:  rgb(255, 0, 200);
  right: -10px;
  
}*/



/* THIS WORKS BUT IT ADDS ARROWS TO ALL OF THE BARS
.timeslots .time-bar:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 20px;
  top: 50%;
  border-top: 2px solid orange;
  border-right: 2px solid orange;
  border-top-right-radius: 4px;
  right: -15px;
}*/

.arrow-con{
  content: '';
  position: absolute;
  width: 15px;
  height: 20px;
  top: 50%;
  border-top: 2px solid rgb(235, 62, 226);
  border-right: 2px solid rgb(238, 101, 226);
  border-color: var(--chart-arrow);
  border-top-right-radius: 4px;
  right: -15px;
  z-index: 9998;
  cursor: default;
}

.arrow-con:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -10px;
  right: -5px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 10px solid rgb(82, 53, 247);
  border-top-color: var(--chart-arrow-head);
}

.arrow-con-flipped{
  content: '';
  position: absolute;
  width: 15px;
  height: 45px;
  top: 21px;
  right: 20%;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-color: var(--chart-arrow);
  border-bottom-left-radius: 4px;
  background-color: transparent;
  z-index: 9998;
  cursor: default;
 
}

.arrow-con-flipped:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -5px;
  right: -2px;
  width: 0;
  height: 0;
  border-left: 10px solid rgb(1, 238, 255);
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left-color: var(--chart-arrow-head);
}


.arrow-con-reflected-up{
  content: '';
  position: absolute;
  width: 15px;
  height: 45px;
  top: -45px;
  right: 35%;
  border-top: 2px solid ;
  border-left: 2px solid;
  border-color: var(--chart-arrow);
  border-top-left-radius: 1em;
  background-color: transparent;
  z-index: 9998;
  cursor: default;
}

.arrow-con-reflected-up:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 94px;
  right: -2px;
  border-left: 10px solid rgb(0, 58, 82);
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left-color: var(--chart-arrow-head);
}

.arrow-con-reflected{
  content: '';
  position: absolute;
  width: 15px;
  height: 45px;
  top: -45px;
  right: 35%;
  border-top: 2px solid ;
  border-left: 2px solid ;
  border-top-left-radius: 4px;
  background-color: transparent;
  border-color: var(--chart-arrow);
  cursor: default;
  
}

.arrow-con-reflected:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 40px;
  right: -5px;
  width: 0;
  height: 0;
  border-left: 10px solid rgb(170, 144, 30);
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left-color: var(--chart-arrow-head);
}

.dd:hover{
  opacity: .3;
}

.arrow-loop{
  content: '';
  position: absolute;
  width: 15px;
  height: 16px;
  top: -17px;
  border-top: 2px solid ;
  border-right: 2px solid ;
  border-left: 2px solid ;
  border-color: var(--chart-arrow);
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  right: 35px;
  cursor: default;
}

.arrow-loop:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -1px;
  right: -5px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 10px solid rgb(166, 150, 255);
  border-top-color: var(--chart-arrow-head);
}


.arrow-legend{
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  top: 48%;
  left: 75px;
  background:  var(--chart-arrow);
  
}
.arrow-legend:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -3px;
  right: -7px;
  width: 0;
  height: 0;
  border-left: 10px solid rgb(255, 0, 0);
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}



.arrow-line{
  content: '';
  position: absolute;
  width: 15px;
  height: 10px;
  top: 50%;
  border-top: 2px solid;
  background-color: transparent;
  border-color: var(--chart-arrow);
  right: -15px;
  cursor: default;
}
.arrow-line:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -5px;
  right: -8px;
  width: 0;
  height: 0;
  border-left: 10px solid rgb(119, 119, 119);
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left-color: var(--chart-arrow-head);
}
/*
.arrow-line:hover, .arrow-loop:hover, .arrow-con-reflected:hover, .arrow-con-flipped:hover, .arrow-con:hover, .arrow-con-reflected-up:hover{
  border-color: blue;
  
}*/

.arrow-straight:hover{
  border-color: orange;
}


.divider{
  content: "";
  display: inline-block;
  position: absolute;
  width: 1px;
  background-color: var(--chart-divider);
  top: -41px;
  height: 258px;
  z-index: 2;
}



.sub-divider{
  content: "";
  display: inline-block;
  position: absolute;
  width: 1px;
  background-color: var(--chart-subdivider);
  top: 0px;
  height: 217px;
  
  z-index: 2;
}

.today-line{
  content: "";
  display: inline-block;
  position: absolute;
  width: 2px;
  border-left: 2px dashed;
  border-right: none;
  border-color: var(--chart-today);
  top: 0px;
  height: 217px;
  z-index: 2;
}

.oil-painting{
  content: "";
  display: inline-block;
  position: absolute;
  width: 440px;
  height: 10px;
  top: 20px;
  background-color: red;
  opacity: 0;
  z-index: 9999;
}

.generative-code{
  content: "";
  display: inline-block;
  position: absolute;
  height: 130px;
  width: 13px;
  top: 40px;
  background-color: red;
  opacity: 0;
  z-index: 99999;
}

.studio-code{
  content: "";
  display: inline-block;
  position: absolute;
  height: 90px;
  width: 13px;
  top: 80px;
  background-color: red;
  opacity: 0;
  z-index: 9999999;
}



.school{
  content: "";
  display: inline-block;
  position: absolute;
  width: 100px;
  background-color: rgb(72, 46, 97);
  top: -10px;
  height: 0px;
  z-index: 0;
  left:10px;
  color: var(--main-text);
}




#a:hover{
  color: orange;
}

.aa:hover{
  color: rgb(7, 199, 0);
}


.current-highlight{
  border-color: blue !important;
  z-index: 999999;
}



.help:hover{
  color: var(--main-text);
  opacity: 1;
}




/* ---- */
/* TIME LINE BAR IDs */
/* ---- */

/*
.divider{
  content: "";
  display: inline-block;
  position: absolute;
  width: calc((1)00em/7)+1);
  background-color: rgba(213, 170, 255, 0.1);
  top: -105px;
  height: 500px;
  border: 1px solid rgb(247, 53, 199);
  z-index: 2;
}
*/

/*
.divider:before {
  content: "";
  
  position: absolute;
  top: -12px;
  right: -3px;
  width: 30px;
  height: 4px;
  border: 2px solid rgb(43, 43, 43);
  z-index: 2;
}*/
/*
.timeslots .time-bar:after {
  content: '';
  height: 1px;
  background: rgb(207, 66, 66);
  width: 0px;
  
  
  right: -20px;
  top: 50%;
  z-index: 20;
}
*/

#item6:hover{
  background-color: #000;
  
}

.active-arrow{
  opacity: 0.9 !important;
  border-color: var(--link) !important;
  
  z-index: 99999 !important;
}

a.time-bar{
  text-decoration: none;
}
