

<h2 class="title">Blog</h2>
<br><br>
<h5 class="sub-para">Where I write stuff.</h5>


    <div >
      <hr class="styled">
      <div class="tag-container">
      <span style="margin-right:5px; font-size: 12px; font-weight: 400; letter-spacing: 1px;">TAGS: </span>
      <a href="/blog" class="badge badge-pill tag-badge tag-badge-small tag-header active" style="{% if page.url == "/blog;" %} color: var(--text) {% endif %} ">all</a>
    


        {% capture tags %}
          {% for tag in site.tags %}
            {{ tag[0] }}#{{ tag[1].size}}
          {% endfor %}
        {% endcapture %}
        {% assign sortedtags = tags | split:' ' | sort %}
        {% for tag in sortedtags %}
            {% assign tagitems = tag | split: '#' %}
    
    
    <a href="/tag/{{ tagitems[0] }}" class="badge badge-pill tag-badge tag-badge-small tag-header " style="{% if tagitems[0] == page.title %} background-color: var(--accent2);  {% endif %}">{{ tagitems[0] }} ({{ tagitems[1] }}) </a>
        
        {% endfor %}
        </div>
        <hr class="styled">
    </div>
    