
  
    <div class="blog-posts">
     
      <!-- /.card-deck -->
    
      

      <div class="row">
        {% for post in site.posts %}
        <div class="col-sm-6 col-sm-6 mr-auto">
          <div class="card blogcard mb-4">
            <a href="{{ post.url }}">
            <img class=" card-img-top img-fluid" src="{{ post.img | prepend: site.baseurl }}" alt="{{ post.title }}" style="height: 300px; ">
          </a>
            
            <div class="card-text" style="padding:10px;" >
              {% for tag in post.tags %}
              <a class="badge badge-pill badge-outline tag-badge tag-badge-small" href="{{site.baseurl}}/tag/{{tag | slugify }}">{{ tag }}</a>
            {% endfor %}
            </div>

            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-sm-9 ">
                    <a href="{{ post.url }}" class="card-heading">{{ post.title }}</a>
                </div>
                <div class="col-sm-3">
                  <span class="card-date" style="font-size: small;">{{ post.date | date_to_string }}</span>
                </div>
                
              </div>
              <div>
              <a style="font-size: small;" >
                {% include star-rating.html rating=post.rating %}
                
              </a>
            </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        {% endfor %}
        
    
        
      </div>
      <!-- /.row -->
    
      
    </div>
    <!-- /.container -->






    <br><br>
  
    
  

    