

<h2 class="title titleunderline">PROCESS</h2>
<br><br>
<h5 class="sub-para ">At any given time, I am always trialling or learning something new - whether it be a new technique, software or style. Most often these trials won't form a cohesive project or design outcome, but are worthwhile to share and catalogue</h5>

    <div>
      <!--tags listing-->  
      Tags:   
      <a href="/blog" class="badge badge-pill tag-badge tag-badge-small mb-2" style="{% if page.url == "/blog" %} color: var(--text) {% endif %} ">all</a>
    


        {% capture tags %}
          {% for tag in site.tags %}
            {{ tag[0] }}#{{ tag[1].size}}
          {% endfor %}
        {% endcapture %}
        {% assign sortedtags = tags | split:' ' | sort %}
        {% for tag in sortedtags %}
            {% assign tagitems = tag | split: '#' %}
    
     
    <a href="/tag/{{ tagitems[0] }}" class="badge badge-pill tag-badge tag-badge-small" style="{% if tagitems[0] == page.title %} color: var(--text) {% endif %}">{{ tagitems[0] }} ({{ tagitems[1] }}) </a>
        
        {% endfor %}
     
    </div>
   