<div class="page-footer">
    <div class="row">
        <footer class="small-text">
            <a>© 2020 Isabel Solin. All Rights Reserved</a>
            <!-- LikeBtn.com BEGIN -->
            <small>
            <a class="likebtn-wrapper small-text" data-theme="review" data-ef_voting="push" data-identifier="like-button" data-dislike_enabled="false"></a></small>
            <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
            <!-- LikeBtn.com END -->
        </footer>
</div>


</div>