

<div class="section1">
    
    

    <div id="particles-js-side"></div>
    
    
    <div class="landing home-wrapper">
        <p>Howdy! I'm</p>
        <div style="align-items: center;">
        <h1 class="neon" style="text-shadow: var(--shadow); color: var(--neon)">ISABEL.</h1>
        <p>Welcome to my ePortfolio.</p>
        <p>I am a design student who likes to learn new things.</p>
        <h3>Toggle Dark/Light Mode</h3>
        <p>Try and see what happens when you turn night mode on. </p>

        <button id="end-button" class="small">Toggle particles on/off</button>
    </div>
        
        
    </div>
    
    
    

</div>
<div class="section5">
    <p>Some content and stuff</p>
    <h2>Toggle Dark/Light Mode</h2>
    <p>Click the button to toggle between dark and light mode for this page.</p>
</div>



<!--<button id="particle-button">Start</button>
<button id="update-button">Update</button>
<button id="end-button">End</button>
-->




