 <!-- THIS IS THE BODY OF THE HOME PAGE -->
 
 <!-- SECTION 1 -->
 <div class="section1">Section 1
  <div class="wrapper">
    <h1 id="some-headings">{{ page.title }}</h1>
    
    <p>Some content and stuff</p>
    <h2>Toggle Dark/Light Mode</h2>
    <p>Click the button to toggle between dark and light mode for this page.</p>

    <button onclick="myFunction()">Toggle dark mode</button>

  
  </div>
 </div>

 <div class="section2 flex-container center">
   <div class="home-wrapper">
  <h1>See what I am currently learning/working on: ....{link to the process page}</h1>
  <p>Some content and stuff</p>
  </div>
 </div>

 <div class="section3 flex-container center">


  
  <div class="home-wrapper">
    <h1>Most recent projects</h1>
    <p>update this to reflect most recent projects, not lil trials</p>

   
  
  



    <div class="card-deck">
      {% for post in site.posts %}

      <div class="card">
          <div class="project-image-container">
            <img class="card-img-top card-img" src="{{ post.img | prepend: site.baseurl }}" alt="{{ post.title }}">
        </div>
        <!--
          <div class="card-img-overlay">
            <a class="text-dark" href="{{ post.url }}">{{ post.title }}</a>
            <p class="card-text"><small>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</small></p>
            
          </div>-->
        <div class="card-body">
          <!--<strong class="d-inline-block mb-2 text-primary">{{ post.category }}</strong>-->
          <h3>
          <a class="text-dark" href="{{ post.url }}">{{ post.title }}</a>
        </h3>
          <p class="card-text">{{ post.excerpt | truncate: 150}}.</p>
          <p class="card-text tags"><small class="text-muted">
            {% for tag in post.tags %}
              <a href="{{site.baseurl}}/tags/#{{tag | slugify }}">{{ tag }}</a>
            {% endfor %}
            </small>
          </p>
        </div>
      </div>
      
      {% endfor %}
    </div>
  
    
     
  
  </div>
  

</div>
<div class="section4">
  <div class="home-wrapper">
 <h1>Find out more about me!</h1>
 <p>and what I like to do and what inspires me! {link to about/passions?}</p>
 </div>
</div>