

  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <!--BRAND--> 
    
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resources">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/process">Process</a>
        </li>
        
        <!--DROP DOWN--> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about#pills-home">Mothership</a>
            <a class="dropdown-item" href="/about#pills-profile">Onyx Tower</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/about#pills-contact">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          
          <li class="nav-link" href="#" onclick="myFunction()"><button>darker</button></li>
          <!--<button class="nav-link" href="#" onclick="myFunction()">dark</button>-->
        </li>
      </ul>
      <!--to iterate
      <ul class="navbar-nav mr-auto">
        {% assign mypages = site.pages | sort: "order" %}
          {% for page in mypages %}
          <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
          {% endfor %}
      </ul>-->
    </div>
  </nav>

  