<!doctype html>
<html lang="en">
  <head>
    
    {%- include head.html -%}
  </head>
  
  <body class="main-container">
    {%- include navbar.html -%}

  <main>
    
    {{ content }}
  
  </main>


  {%- include footer.html -%}
  

  <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
  


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Import Particles.js and app.js files -->
    <!--scripts-->
<script src="/particles.js"></script>
<script src="/app.js"></script>

    <script>
      function darkmode() {
         var element = document.body;
         element.classList.toggle("dark-mode");
      }

      $(function () { 
            $(`.nav-link[href="${location.pathname}"]`).parent().addClass("actives"); 
          });
      
      
      $("#particle-button").click(function(){
          toggle.particlesJS.load('particles-js','particles.json');  
      });

      $("#end-button").click(function() {
        $("#particles-js-side").toggle();
      });


      </script>
      
      
    
  </body>


</html>