---
layout: default
---
<div class="home-wrapper">
    
<div class="idk">
<div id="timetable" class="clearfix">
    <div class="timetable_content">
      <ul class="years clearfix">
        <li data-year="2014">2014</li>
        <li data-year="2015">2015</li>
        <li data-year="2016">2016</li>
        <li data-year="2018">2018</li>
        <li data-year="2019">2019</li>
        <li data-year="2020">2020</li>
        <li data-year="2021">2021</li>
      </ul>
      <ul class="months clearfix">
        <li >1</li>
        <li data-month="01">2</li>
        <li data-month="02">3</li>
        <li data-month="03">4</li>
        <li data-month="04">5</5i>
        <li data-month="05">6</li>
        <li data-month="06">7</li>
        <li data-month="07">8</li>
      </ul>
      <ul class="timeslots">
          
        <li>
          <div class="time-bar item-uno">item1</div>
          
        </li>
        <li>
          <div class="time-bar" style="margin-left: 250px;width: 250px">item2</divs>
         
        </li>
          <li class="item-uno">
          <span class="time-bar" style="margin-left:400px;width: 200px">item3</span>
          
        </li>
          <li class="item-uno">
          <span class="time-bar" style="margin-left: 150px;width: 200px">item4</span>
          
          <span class="time-bar" style="margin-left: 100px;width: 250px">item5</span>
            
        </li>
        <li>
            <span class="time-bar" style="margin-left: 10px;width: 450px">item6</span>
            
          </li>
          
      </ul>
    </div>
  </div>
</div>
</div>