---
layout: default
---
<br><br>
<div class="dashboard-wrapper">
<div class="row dashboard-header">
  <div class="col dashboard-item">
    <p>Dashboard item 1</p>
    <br>
    <br>
  </div>
  <div class="col dashboard-item">
    <p>Dashboard item 2</p>
  </div>
  <div class="col dashboard-item">
    <p>Dashboard item 2</p>
  </div>
</div>


<div class="contain">
  
 <div class="header-col cell1">
   <p class="small">placeholder</p>
   
   <ul class="categories">
            
    <li class="categories-text">Art</li>
    <li>Design</li>
    <li>Technology</li>
    <li>Other</li>
    <li>sTUFF</li>
   
      
  </ul>

 </div>
<div class="idk cell2">
 
    <div id="timetable" class="clearfix">
      <div class="timetable_content ">
        <ul class="years clearfix">
          <li>2014</li>
          <li>2015</li>
          <li>2016</li>
          <li>2018</li>
          <li>2019</li>
          <li>2020</li>
          <li>2021</li>
        </ul>
        <!--
        <ul class="half-year clearfix" style="position: static">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        -->
        <ul class="timeslots">
            
          <li>
            <div class="time-bar">
              <div class="school"></div>

              <div class="sub-divider" style="left:110px"></div>
              <div class="divider" style="left:219px"></div>
              <div class="sub-divider" style="left:333px"></div>
              <div class="divider" style="left:448px"></div>
              <div class="sub-divider" style="left:562px"></div>
              <div class="divider" style="left:676px"></div>
              <div class="sub-divider" style="left:790px"></div>
              <div class="divider" style="left:905px"></div>
              <div class="sub-divider" style="left:1020px"></div>
              <div class="divider" style="left:1134px"></div>
              <div class="sub-divider" style="left:1248px"></div>
              <div class="divider" style="left:1362px"></div>
              <div class="sub-divider" style="left:1476px"></div>
              <div class="divider" style="left:1590px"></div>
              item1</div>
            
          </li>
          
          <li>
            
            
            <div class="time-bar" style="margin-left: 250px;width: 250px">item2<div class="arrow-con"></div></div>
           
          </li>
            <li class="item-uno">
            <span class="time-bar" style="margin-left:400px;width: 200px">item3</span>
            
          </li>
            <li class="item-uno">
            <span class="time-bar" style="margin-left: 150px;width: 200px">item4<div class="arrow-con" style="width:100px"></div></span>
            
            <span class="time-bar" style="margin-left: 100px;width: 250px">item5</span>
            
              
          </li>
          <li>
              <div class="time-bar" style="margin-left: 10px;width: 450px" id="item6">item6</div>
          </li>
          <li>
            <span class="time-bar" style="margin-left: 900px;width: 450px">item7</span>
        </li>
        <li>
          <span class="time-bar" style="margin-left: 700px;width: 300px">item8</span>
        
      </li>
      
            
        </ul>
        
      </div>
      
      
    </div>
   
</div>
</div>
</div>