---
layout: pages
---

<p>Wikipedia rabbit holes and other website things</p>
<ul>
	

	<li>Nutty putty cave thing</li>

	<li>Antikythera mechanism </li>

	<li>Bull wurtz</li>

	<li>The birthday problem </li>

	<li>Zipfs law </li>

	<li>The pitch goo drop experiment </li>

	<li>Voynich manuscript</li>

	<li>Vanta black </li>

	<li>Dyatlov pass</li>

	<li>Kennedy curse </li>

	<li>Carcinisation  </li>

	<li>cosmic latte</li>
	
	<li>Liberia county flags</li>
	
	<li>McMansions </li>

	<li>Bill wurtz</li>

	<li>Glitter conspiracy </li>

	<li>Tiktok 3D printed pill thing</li>

	<li>Wendzhonese the devils language</li>
	
	<li>Peppers ghost effect</li>

	<li>Jeremy (snail)</li>
	
	<li>English triple contractions </li>

	<li>Paris syndrome</li>

	<li>List of cognitive bias </li>
	
	<li>List of nicknames used by Donald trump </li>

	<li>Small penis rule</li>
</ul>