---
layout: pages
---

<p>questions</p>
<ul>
  
    <li>
        <a>How to tag (projects vs coursework? 3dsmax vs blender?)</a>
    </li>
    <li>
        <a>rating system? - not keen for it on projects</a>
    </li>
    <li>
        <a>most important info at header of blog posts</a>
    </li>
    <li>
        <a>how does the chart scroll bar look</a>
    </li>


    
</ul>

<p>still to do:</p>
<ul>
    <li>
        <a href="/link">Finish the final link generator thing</a>
    </li>
    <li>
        <a><del>Darkmode when changing between pages</del></a>
    </li>
    <li>
        <a><del>Footer</del></a>
    </li>
    <li>
        <a><del>Pagination to blog pages styling</del></a>
    </li>
    <li>
        <a>404 pages</a>
    </li>
    <li>
        <a>Website favicon</a>
    </li>
    <li>
        <a>Homescreen prompt to scroll down and hit dark mode</a>
    </li>
    <li>
        <a>Fade in/out animations to project pages</a>
    </li>
    <li>
        <a>Set up Google Analytics</a>
    </li>
    <li>
        <a>Hit Counter?</a>
    </li>
    <li>
        <a>Optimize html for accessability</a>
    </li>
    <li>
        <a>Consolidate _layouts and _includes</a>
    </li>
    <li>
        <a>Remove the html part from blog post links</a>
    </li>


    
</ul>



