---
layout: pages
---
<p>coming soon. still to do:</p>
<ul>
    <li>
        <a><del>Darkmode when changing between pages</del> 3/1</a>
    </li>
    <li>
        <a>Footer</a>
    </li>
    <li>
        <a>Pagination to blog pages styling</a>
    </li>
    <li>
        <a>404 pages</a>
    </li>
    <li>
        <a>Website favicon</a>
    </li>
    <li>
        <a>Homescreen prompt to scroll down and hit dark mode</a>
    </li>
    <li>
        <a>Fade in/out animations to project pages</a>
    </li>
    <li>
        <a>Set up Google Analytics</a>
    </li>
    <li>
        <a>Hit Counter?</a>
    </li>
    <li>
        <a>Optimize html for accessability</a>
    </li>
    <li>
        <a>Consolidate _layouts and _includes</a>
    </li>
    <li>
        <a>Remove the html part from blog post links</a>
    </li>
</ul>



