---
layout: pages_wide
---




<div class="container-fluid">
  <!--TOOLS-->
 
	<div class="row">
		<div class="col">
			<h3>
				Tools
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h5 class="subheading">
				Extensions
      </h5>
			<ul class="link">
				<li class="list-item">
					<a href="https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka?hl=en" class="link">Eye dropper</a>
				</li>
				
				<li class="list-item">
					<a href="https://chrome.google.com/webstore/detail/whatfont/jabopobgcpjmedljpbcaablpmlmfcogm" class="link">What font</a>
        </li>
        <li class="list-item">
					<a href="https://chrome.google.com/webstore/detail/css-peeper/mbnbehikldjhnfehhnaidhjhoofhpehk/related" class="link">CSS Peeper</a>
				</li>
			</ul>
    </div>
    
		<div class="col">
			<h5 class="subheading">
				Color
      </h5>
			<ul class="link">
				<li class="list-item">
          <a href="https://coolors.co/" data-toggle="tooltip"  data-placement="right" title="Color Palette Generator" class="link">Coolers</a>
        </li>
        <li class="list-item">
					<a href="https://mycolor.space/" class="link">Color Space</a>
        </li>
        <li class="list-item">
					<a href="https://palx.jxnblk.com/" class="link">Palx</a>
				</li>
				<li class="list-item">
					<a href="https://www.happyhues.co/" class="link">Happy Hues</a>
        </li>
        <li class="list-item">
					<a href="https://uigradients.com/" class="link">UI Gradients</a>
        </li>
        <li class="list-item">
					<a href="https://color.adobe.com/" class="link">Adobe Color</a>
        </li>
				
			</ul>
		</div>
		<div class="col">
			<h5 class="subheading">
				Etc
      </h5>
			<ul class="link">
				<li class="list-item">
					<a href="https://www.remove.bg/" class="link">Img Background Remover</a>
				</li>
				<li class="list-item">
					<a href="https://www.myfonts.com/WhatTheFont/"  data-toggle="tooltip"  data-placement="right" title="Identifies fonts from images." class="link">What the Font</a>
        </li>
        <li class="list-item">
					<a href="https://topazlabs.com/shop/" class="link">Topaz Labs AI</a>
				</li>
				
			</ul>
		</div>
  </div>
  <!--VISUALISATION-->
  <br>
	<div class="row">
		<div class="col">
			<h3>
				Visualisation
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h5 class="subheading">
				Textures
      </h5>
			<ul class="link">
				<li class="list-item">
          
          <a href="https://www.textures.com/" data-toggle="tooltip"  data-placement="left" title="15 free textures a day" class="link">Textures.com</a>
				</li>
				
				
			</ul>
    </div>
    
		<div class="col">
      
			<h5 class="subheading">
				Assets
      </h5>
      <div class="row">
        <div class="col">
			<ul class="link">
				<li class="list-item">
					<a href="https://www.turbosquid.com/" class="link">Turbosquid</a>
				</li>
				<li class="list-item">
					<a href="https://www.cadnav.com/" class="link">Cadnav⤳</a>
				</li>
				<li class="list-item">
					<a href="https://free3d.com/3d-models/" class="link">Free 3D</a>
				</li>
        <li class="list-item">
          <a href="https://sketchfab.com/3d-models?date=week&features=downloadable&sort_by=-likeCount" class="link">Sketchfab</a>
        </li>
        <li class="list-item">
					<a href="https://www.cgtrader.com/free-3d-models" class="link">CG Trader</a>
        </li>
        <li class="list-item">
					<a href="https://clara.io/library" class="link">Clara.io</a>
        </li>
      </div>
      <!--second column-->
      <div class="col link" style="padding-left:16px; border: solid 1px ">
        <li class="list-item">
          <a href="https://3dsky.org/3dmodels" data-toggle="tooltip"  data-placement="left" title="Really high quality models, but only 3 free a day!" class="link">3DSky</a>
        </li>
        <li class="list-item">
					<a href="https://maxtree.org/" data-toggle="tooltip"  data-placement="right" title="You can download free samples of each pack." class="link">Max Trees</a>
        </li>
        <li class="list-item">
					<a href="https://flyingarchitecture.com/" data-toggle="tooltip"  data-placement="right" title="Rhino + VRay Compatible" class="link">Flying Architecture</a>
        </li>
        <li class="list-item">
					<a href="https://vismats.com/" class="link">Vitmats</a>
        </li>
        <li class="list-item">
					<a href="https://free.cgaxis.com/" class="link">CG Axis</a>
        </li>
      </div>

      </div>
			</ul>
    </div>
    
		
    <div class="col">
			<h5 class="subheading">
				3D Scans
      </h5>
			<ul class="link">
				<li class="list-item">
					<a href="https://www.myminifactory.com/scantheworld/" class="link">Scan the World</a>
        </li>
        <li class="list-item">
          <a href="https://3d.si.edu/" class="link">Smithsonian Museum</a>
          <ul class="sublink sub">
            <li class="sublink">
              <a href="https://sketchfab.com/3d-models/orbiter-space-shuttle-ov-103-discovery-5f7176a2ae284d6b99fc970c9d265c04" class="sublink">Discovery Space Shuttle</a>
            
            </li>
          </ul>
        </li>
			</ul>
		</div>
  </div>
  <!--CAD-->
  <br>
	<div class="row">
		<div class="col">
			<h3>
				CAD
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h5 class="subheading">
				CAD Blocks
      </h5>
			<ul class="link">
				<li class="list-item">
          <a href="https://www.dimensions.com/" class="link">Dimensions.com</a>
				</li>
				<li class="list-item">
					<a href="https://www.bibliocad.com/en/" class="link">Bibliocad</a>
				</li>
				
			</ul>
		</div>
		
		<div class="col">
			<h5 class="subheading">
				Placeholder
      </h5>
			<ul class="link">
				
				<li class="list-item">
					<a href="/" class="link">Placeholder</a>
				</li>
				<li class="list-item">
					<a href="/" class="link">Placeholder</a>
				</li>
			</ul>
    </div>
    <div class="col">
			<h5 class="subheading">
				
      </h5>
			<ul class="link">
				<li class="list-item">
					
				</li>
				
				
			</ul>
		</div>
  </div>



<!--Representation-->
<br>
<div class="row">
  <div class="col">
    <h3>
      Representation
    </h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5 class="subheading">
      Assets
    </h5>
    <ul class="link">
      <li class="list-item">
        <a href="https://www.transparenttextures.com/" class="link">Transparent Textures</a>
      </li>
      <li class="list-item">
        <a href="https://www.bibliocad.com/en/" class="link">Bibliocad</a>
      </li>
      <li class="list-item">
        <a href="https://www.blobmaker.app/" class="link">Blob Maker</a>
      </li>

      <li class="list-item">
        <a href="https://creativemarket.com/free-goods" data-toggle="tooltip"  data-placement="right" title="6 free goods per week." class="link">Creative Market</a>
      </li>
      
    </ul>
  </div>
  <div class="col">
    <h5 class="subheading">
      2D 
    </h5>
    <ul class="link">
      <li class="list-item">
        <a href="https://icons8.com/illustrations" class="link">Icon8 Illustrations</a>
      </li>
      <li class="list-item">
        <a href="https://www.vector-vault.org/" class="link">Vector Vault</a>
      </li>
      <li class="list-item">
        <a href="https://thenounproject.com/" class="link">Noun Project</a>
      </li>
      

      
    </ul>
  </div>
  <div class="col">
    <h5 class="subheading">
      Fonts
    </h5>
    <ul class="link">
      <li class="list-item">
        <a href="https://fontsinuse.com/" class="link">Fonts in use</a>
      </li>
      
      
    </ul>
  </div>
</div>










<!--Inspo-->
<br>
<div class="row">
  <div class="col">
    <h3>
      Inspo
    </h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5 class="subheading">
      Assets
    </h5>
    <ul class="link">
      <li class="list-item">
        <a href="https://www.transparenttextures.com/" class="link">Transparent Textures</a>
      </li>
      <li class="list-item">
        <a href="https://www.bibliocad.com/en/" class="link">Bibliocad</a>
      </li>
      <li class="list-item">
        <a href="https://www.blobmaker.app/" class="link">Blob Maker</a>
      </li>
      
    </ul>
  </div>
  <div class="col">
    <h5 class="subheading">
      2D 
    </h5>
    <ul class="link">
      <li class="list-item">
        <a href="https://icons8.com/illustrations" class="link">Icon8 Illustrations</a>
      </li>
      <li class="list-item">
        <a href="https://www.vector-vault.org/" class="link">Vector Vault</a>
      </li>
      <li class="list-item">
        <a href="https://thenounproject.com/" class="link">Noun Project</a>
      </li>
      <li class="list-item">
        <a href="https://thenounproject.com/" class="link">Noun Project</a>
      </li>

      
    </ul>
  </div>
  <div class="col">
    <h5 class="subheading">
      Extensions
    </h5>
    <ul class="link">
      <li class="list-item">
        <a href="https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka?hl=en" class="link">Eye dropper</a>
      </li>
      
      <li class="list-item">
        <a href="/" class="link">Placeholder</a>
      </li>
    </ul>
  </div>
</div>
</div>


</div>

</div>


<!--etc https://trends.google.com/-->