---
layout: pages_wide
---


<div>
  <h5 class="sub-para">A collection of architectural and design resources and links in no particular order. * = favourite. 
  </h5>
</div>

<div class="container-fluid">
  <!--TOOLS-->
  <hr class="styled">
	<div class="row">
		<div class="col">
			<h3 class="heading">
				Tools
			</h3>
		</div>
	</div>
	<div class="row" style="margin-bottom: -10px">
		<div class="col">
			<h5 class="subheading ">
				Chrome Extensions
      </h5>
			<ul class="link">
				<li class="list-item">
					<a href="https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka?hl=en" class="link">Eye dropper *</a>
				</li>
				
				<li class="list-item">
					<a href="https://chrome.google.com/webstore/detail/whatfont/jabopobgcpjmedljpbcaablpmlmfcogm" class="link">What font</a>
        </li>
        <li class="list-item">
					<a href="https://chrome.google.com/webstore/detail/css-peeper/mbnbehikldjhnfehhnaidhjhoofhpehk/related" class="link">CSS Peeper</a>
				</li>
			</ul>
    </div>
    
		<div class="col">
			<h5 class="subheading">
				Color
      </h5>
			<ul class="link">
				<li class="list-item">
          <a href="https://coolors.co/" class="link">Coolers</a>
        </li>
        <li class="list-item">
					<a href="https://mycolor.space/" class="link">Color Space</a>
        </li>
        <li class="list-item">
					<a href="https://palx.jxnblk.com/" class="link">Palx</a>
				</li>
				<li class="list-item">
					<a href="https://www.happyhues.co/" class="link">Happy Hues</a>
        </li>
        <li class="list-item">
					<a href="https://uigradients.com/" class="link">UI Gradients</a>
        </li>
        <li class="list-item">
					<a href="https://color.adobe.com/" class="link">Adobe Color</a>
        </li>
        <li class="list-item">
					<a href="https://convertingcolors.com/" class="link">Coverting Colors</a>
        </li>
        <li class="list-item">
					<a href="http://bada55.io/" class="link">Bada55</a>
        </li>
			</ul>
		</div>
		<div class="col">
			<h5 class="subheading">
				Misc
      </h5>
			<ul class="link">
        <li class="list-item">
					<a href="http://www.scalemodelersworld.com/online-scale-converter-tool.html" class="link">Scale Converter *</a>
				</li>
				<li class="list-item">
					<a href="https://www.remove.bg/" class="link">Img Background Remover</a>
				</li>
				<li class="list-item">
					<a href="https://www.myfonts.com/WhatTheFont/"  data-toggle="tooltip"  data-placement="right" title="Identifies fonts from images." class="link">What the Font</a>
        </li>
        <li class="list-item">
					<a href="https://topazlabs.com/shop/" class="link">Topaz Labs AI *</a>
				</li>
				<li class="list-item">
          <a href="https://fontsinuse.com/" class="link">Fonts in use</a>
        </li>
			</ul>
		</div>
  </div>
  
  <!--CAD-->
  <hr class="styled">
	<div class="row" >
		<div class="col">
			<h3 class="heading">
				CAD
			</h3>
		</div>
	</div>
	<div class="row" style="margin-bottom: -10px">
		<div class="col">
			<h5 class="subheading">
				General
      </h5>
			<ul class="link">
				<li class="list-item">
          <a href="https://www.dimensions.com/" class="link">Dimensions.com *</a>
        </li>
        <li class="list-item">
					<a href="https://www.bibliocad.com/en/" class="link">Bibliocad</a>
				</li>	
				
        <li class="list-item">
					<a href="https://www.firstinarchitecture.co.uk/category/cad-blocks-2/" class="link">First In Architecture</a>
        </li>	
        <li class="list-item">
					<a href="https://dwgmodels.com/" class="link">DWG Models</a>
        </li>	
        <li class="list-item">
					<a href="https://acad-block.com/" class="link">A CAD Block</a>
        </li>
        
			</ul>
		</div>
		
		<div class="col">
			<h5 class="subheading">
				Construction
      </h5>
			<ul class="link">
				
				<li class="list-item">
					<a href="http://www.steelweb.info/" class="link">Steel Web</a>
				</li>
        <li class="list-item">
          <a href="https://cadmapper.com/" class="link">CadMapper</a>
        </li>
			</ul>
    </div>
    <div class="col">
			<h5 class="subheading">
        Misc
      </h5>
			<ul class="link">
				<li class="list-item">
					<a href="" data-toggle="tooltip"  data-placement="right" title="CAD Blocks in line with Aus Standards AS1428.1-2009" class="link">Disability Access Consultants</a>
				</li>
				
				
			</ul>
		</div>
  </div>
  <hr class="styled">


<!--Representation-->

<div class="row">
  <div class="col">
    <h3 class="heading">
      Representation
    </h3>
  </div>
</div>
<div class="row" style="margin-bottom: -10px">
  <div class="col">
    <h5 class="subheading">
      2D Textures
    </h5>
    <ul class="link">
      <li class="list-item">
        <a href="https://www.transparenttextures.com/" class="link">Transparent Textures</a>
      </li>
      <li class="list-item">
        <a href="https://architextures.org/" class="link">Architextures</a>
      </li>
      <li class="list-item">
        <a href="https://www.blobmaker.app/" class="link">Blob Maker</a>
      </li>

      <li class="list-item">
        <a href="https://creativemarket.com/free-goods" data-toggle="tooltip"  data-placement="right" title="6 free goods per week." class="link">Creative Market</a>
      </li>
      
    </ul>
  </div>
  <div class="col">
    <h5 class="subheading">
      2D Assets  
    </h5>
    <ul class="link">
      <li class="list-item">
        <a href="https://icons8.com/illustrations" class="link">Icon8 Illustrations</a>
      </li>
      
      <li class="list-item">
        <a href="https://thenounproject.com/" class="link">Noun Project</a>
      </li>
      <li class="list-item">
        <a href="https://slidesgo.com/" class="link">Powerpoint/Google Slide Templates</a>
      </li>
    </ul>
    <h5 class="subheading">
      Fonts
    </h5>
    <ul class="link">
      <li class="list-item">
        <a href="https://fonts.google.com/" class="link">Google Fonts</a>
      </li>
      <li class="list-item">
        <a href="https://www.dafont.com/" class="link">Da Font</a>
      </li>
      
    </ul>
  </div>
  <div class="col">
    
    <h5 class="subheading">
      Cut-outs
    </h5>
    <ul class="link">
      <li class="list-item">
        <a href="http://www.nonscandinavia.com/" class="link">Nonscandinavia</a>
      </li>
     
      <li class="list-item">
        <a href="https://www.mrcutout.com/" data-toggle="tooltip"  data-placement="right" title="2.5MB of downloads a day."class="link">Mr Cutout</a>
      </li>

      <li class="list-item">
        <a href="https://skalgubbar.se/"  class="link">Skalgubbar</a>
      </li>
      <li class="list-item">
        <a href="https://pimpmydrawing.com/"  class="link">Pimp My Drawing</a>
      </li>
      <li class="list-item">
        <a href="https://gumroad.com/isometric/"  class="link">Isometric People</a>
      </li>
      <li class="list-item">
        <a href="https://www.vector-vault.org/" class="link">Vector Vault</a>
      </li>
    </ul>
  </div>
</div>









<hr class="styled">
<!--manufractuer-->
<div class="row">
  <div class="col">
    <h3 class="heading">
      Construction
    </h3>
  </div>
</div>
<div class="row" style="margin-bottom: -10px">
  <div class="col">
    <h5 class="subheading">
      Glazing
    </h5>
    <ul class="link">
      <li class="list-item">
        <a href="https://www.viridianglass.com/products/product-range/" class="link">Viridian</a>
      </li>
      <li class="list-item">
        <a href="https://www.pilkington.com/en/au" class="link">Plinkington</a>
      </li>
    </ul>
    <h5 class="subheading">
      Finishes
    </h5>
    <ul class="link">
      <li class="list-item">
        <a href="https://www.dulux.com.au/" class="link"> Dulux</a>
      </li>
      
      <li class="list-item">
        <a href="https://aafonline.com.au/" class="link">AAF</a>
      </li>
    </ul>
    <h5 class="subheading">
      Misc
    </h5>
    <ul class="link">
      <li class="list-item">
        <a href="https://www.bradfordinsulation.com.au/" class="link">Bradford Insulation</a>
      </li>
      
      <li class="list-item">
        <a href="https://www.gyprock.com.au/products" class="link">Gyprock Plasterboard</a>
      </li>
      
    </ul>
  </div>
  <div class="col">
    <h5 class="subheading">
      Windows + Doors 
    </h5>
    <ul class="link">
      <li class="list-item">
        <a href="https://www.awsaustralia.com.au/" class="link">AWS</a>
      </li>
      <li class="list-item">
        <a href="https://www.capral.com.au/" class="link">Capral</a>
      </li>
      <li class="list-item">
        <a href="https://www.envirotechfs.com.au/" class="link">Envirotech FS</a>
      </li>
      <li class="list-item">
        <a href="https://www.thermosash.co.nz/" class="link">Thermosash</a>
      </li>
    </ul>
      <h5 class="subheading">
        Masonry
      </h5>
      <ul class="link">
      <li class="list-item">
        <a href="https://australbricks.com.au/" class="link">Austral Bricks</a>
      </li>
      <li class="list-item">
        <a href="https://www.boral.com.au/products" class="link">Boral</a>
      </li>
    </ul>
    
    
  </div>
  <div class="col">
    <h5 class="subheading">
      Roofing + Cladding
    </h5>
    <ul class="link">
      
      
      <li class="list-item">
        <a href="https://professionals.lysaght.com/" class="link">Lysaght Aluminum</a>
      </li>
      <li class="list-item">
        <a href="https://www.vmzinc.com.au/" class="link">VMZinc</a>
      </li>
      <li class="list-item">
        <a href="https://www.weathertex.com.au/" class="link">Weathertex</a>
      </li>
      <li class="list-item">
        <a href="https://www.jameshardie.com.au/" class="link">JamesHardie</a>
      </li>
    </ul>
    <h5 class="subheading">
      Interior
    </h5>
    <ul class="link">
      <li class="list-item">
        <a href="https://www.hunterdouglasarchitectural.eu/en-GB/home/index.jsp" class="link">Hunter Douglas</a>
      </li>
      
      <li class="list-item">
        <a href="https://www.knaufarmstrong.com/en-au.html" class="link">Armstrong</a>
      </li>
      
      <li class="list-item">
        <a href="https://www.rondo.com.au/products/" class="link">Rondo</a>
      </li>
    </ul>
  </div>
</div>

<!--VISUALISATION-->
<hr class="styled">
<div class="row">
  <div class="col">
    <h3 class="heading">
      Visualisation
    </h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5 class="subheading">
      3D/PBR Textures
    </h5>
    <ul class="link">
      <li class="list-item">
        <a href="https://www.textures.com/" data-toggle="tooltip"  data-placement="left" title="15 free textures a day" class="link">Textures.com</a>
      </li>
      <li class="list-item">
        <a href="https://3dtextures.me/" class="link">3Dtextures</a>
      </li>
      <li class="list-item">
        <a href="https://texturehaven.com/" class="link">Texture Haven</a>
      </li>
      <li class="list-item">
        <a href="https://www.poliigon.com/" class="link">Poliigon</a>
      </li>
      <li class="list-item">
        <a href="https://cc0textures.com/" class="link">CC0Textures</a>
      </li>
    </ul>
  </div>
  
  <div class="col">
    
    <h3 class="subheading">
      <a>Assets</a>
    </h3>
    
    <ul class="link">
      <li class="list-item">
        <a href="https://www.turbosquid.com/" class="link">Turbosquid</a>
      </li>
      <li class="list-item">
        <a href="https://www.cadnav.com/" class="link">Cadnav⤳</a>
      </li>
      <li class="list-item">
        <a href="https://free3d.com/3d-models/" class="link">Free 3D</a>
      </li>
      <li class="list-item">
        <a href="https://sketchfab.com/3d-models?date=week&features=downloadable&sort_by=-likeCount" class="link">Sketchfab</a>
      </li>
      <li class="list-item">
        <a href="https://www.cgtrader.com/free-3d-models" class="link">CG Trader</a>
      </li>
      <!--
      <li class="list-item">
        <a href="https://clara.io/library" class="link">Clara.io</a>
      </li>-->
      <li class="list-item">
        <a href="https://3dsky.org/3dmodels" data-toggle="tooltip"  data-placement="left" title="Really high quality models, but only 3 free a day!" class="link">3DSky</a>
      </li>
      <li class="list-item">
        <a href="https://maxtree.org/" data-toggle="tooltip"  data-placement="right" title="You can download free samples of each pack." class="link">Max Trees</a>
      </li>
      <li class="list-item">
        <a href="https://flyingarchitecture.com/" data-toggle="tooltip"  data-placement="right" title="Rhino + VRay Compatible" class="link">Flying Architecture</a>
      </li>
      <li class="list-item">
        <a href="https://vismats.com/" class="link">Vitmats</a>
      </li>
      <li class="list-item">
        <a href="https://free.cgaxis.com/" class="link">CG Axis</a>
      </li>
    </ul>
  </div>
  
  
  <div class="col">
    <h5 class="subheading">
      3D Scans
    </h5>
    <ul class="link">
      <li class="list-item">
        <a href="https://www.myminifactory.com/scantheworld/" class="link">Scan the World</a>
      </li>
      <li class="list-item">
        <a href="https://3d.si.edu/" class="link">Smithsonian Museum</a>

        <!--<ul class="sublink sub">
          <li class="sublink">
            <a href="https://sketchfab.com/3d-models/orbiter-space-shuttle-ov-103-discovery-5f7176a2ae284d6b99fc970c9d265c04" class="sublink">Discovery Space Shuttle</a>
          
          </li>
        </ul>-->
      </li>
    </ul>
  </div>
</div>


</div>


</div>

</div>


<!--etc https://trends.google.com/-->